.musicItem {
  .musicItem__title {
    text-align: center;
    padding: 15px 0;
    color: white;
  }
  .musicItem__cover {
    position: relative;

    .musicItem__artist {
      padding: 8px 0 0 8px;
      font-weight: bold;
      color: #41a78e;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.8) 38%,
        transparent 101%
      );
    }

    .musicItem__icons-link {
      position: absolute;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3);

      .anticon-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50px;
        cursor: pointer;
        color: #41a78e !important;

        svg {
          width: 2em;
          height: 2em;
        }
      }
    }

    .musicItem__icons {
      position: absolute;
      bottom: 10px;
      right: 10px;
      z-index: 2;

      .anticon-heart {
        cursor: pointer;

        color: rgb(237, 12, 79) !important;

        svg {
          width: 1.5em;
          height: 1.5em;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}
