.ant-layout-header {
  padding: 0 0 !important;
  background-color: #282828 !important;
}

.fullInput {
  height: 100%;
  width: 100%;
  input {
    padding: 0 15px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    caret-color: #1ed760;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }
}
