@import "~antd/dist/antd.css", "./forms";

@import url("https://fonts.googleapis.com/css?family=Dosis");

body {
  font-family: "Dosis", sans-serif !important;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 85%);
  height: 100vh;
  overflow: hidden;

  .ant-layout {
    background-color: transparent;

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #1ed760;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #15a749;
    }

    .ant-layout-content {
      height: 0;
      overflow-y: auto;
      padding: 25px;
    }
  }
}
