.sideMenu {
  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6) !important;

  .sideMenu__logo {
    padding: 20px;

    img {
      width: 100%;
    }
  }

  .sideMenu__items {
    background-color: transparent !important;
    border-right: solid 1px rgba(0, 0, 0, 0.8);

    .ant-menu-item {
      display: flex;
      align-items: center;

      i {
        font-size: 1.5rem;
      }
      color: white;
      a {
        color: white;
      }
      background-color: transparent !important;

      &::after {
        width: 100%;
        border-left: 3px solid #1ed760;
        border-right: none;
      }
    }
  }

  .sideMenu__authentication {
    padding: 0 20px;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    button {
      margin-bottom: 25px;
    }

    .ant-btn-background-ghost {
      color: #41a377 !important;
      border-color: #41a377 !important;
    }

    .ant-btn-primary {
      border-color: #41a377 !important;
      background-color: #41a377 !important;
    }
  }
}
