.signUpForm {
  button {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  .ant-btn-background-ghost {
    color: #41a377 !important;
    border-color: #41a377 !important;
  }

  .ant-btn-primary {
    border-color: #41a377 !important;
    background-color: #41a377 !important;
  }
}
