.fullInput {
  height: 100%;
  width: 100%;
  input {
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    caret-color: #1ed760;
    font-size: 24px;

    &:focus {
      outline: none;
    }
  }
}
